# 10 minutes to pandas
- https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html

In [1]:
import pandas as pd
import numpy as np

## Object creation

- Creating a Series by passing a list of values, letting pandas create a default integer index:

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

- Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

In [8]:
dates = pd.date_range('20200801', periods=6)
dates

DatetimeIndex(['2020-08-01', '2020-08-02', '2020-08-03', '2020-08-04',
               '2020-08-05', '2020-08-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-08-01  0.783327 -1.645742 -0.507720  0.775262
2020-08-02 -0.111070 -0.452186 -1.692313  1.189232
2020-08-03 -0.595843  1.111221 -0.957121 -0.443336
2020-08-04 -1.310659 -1.226442 -1.091758  1.096067
2020-08-05 -1.750652  0.697564  0.325886  1.540561
2020-08-06 -1.341656  0.399637 -0.470476 -1.482813

- Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [15]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20200801'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-08-01  1.0  3   test  foo
1  1.0 2020-08-01  1.0  3  train  foo
2  1.0 2020-08-01  1.0  3   test  foo
3  1.0 2020-08-01  1.0  3  train  foo