# pandas.get_dummies

- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.get_dummies.html

In [13]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
s = pd.Series(list('abca'))
s

0    a
1    b
2    c
3    a
dtype: object

In [7]:
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [15]:
s1 = ['a', 'b', np.nan]
s1

['a', 'b', nan]

In [17]:
pd.get_dummies(s1)

   a  b
0  1  0
1  0  1
2  0  0

In [19]:
pd.get_dummies(s1,dummy_na=True)

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1

In [22]:
df = pd.DataFrame({'A':['a','b','a'], 'B':['b','a','c'], 'C':[1,2,3]})
df

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  3

In [23]:
pd.get_dummies(df, prefix=['col1', 'col2'])

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1

In [24]:
pd.get_dummies(pd.Series(list('abcaa')))

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0
4  1  0  0

In [25]:
pd.get_dummies(pd.Series(list('abcaa')), drop_first=True)

   b  c
0  0  0
1  1  0
2  0  1
3  0  0
4  0  0

In [26]:
pd.get_dummies(pd.Series(list('abc')), dtype=float)

     a    b    c
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0