https://www.w3resource.com/pandas/dataframe/dataframe-stack.php

**Examples**<br>
*Single level columns:*

In [4]:
import numpy as np
import pandas as pd

In [5]:
df_single_level_cols = pd.DataFrame([[0, 2], [3, 4]],
                                    index=['deer', 'monkey'],
                                    columns=['weight', 'height'])

Stacking a dataframe with a single level column axis returns a Series:

In [6]:
df_single_level_cols

        weight  height
deer         0       2
monkey       3       4

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack.png" alt="Pandas: DataFrame - Stack Single level column." title="Title text" height="" width="" />

In [7]:
df_single_level_cols.stack()

deer    weight    0
        height    2
monkey  weight    3
        height    4
dtype: int64

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack-1.png" alt="Pandas: DataFrame - Stacking a dataframe with a single level column axis returns a Series." title="Title text" height="" width="" />

*Multi level columns: simple case:*

In [8]:
multicol1 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('weight', 'pounds')])
df_multi_level_cols1 = pd.DataFrame([[3, 4], [4, 5]],
                                    index=['deer', 'monkey'],
                                    columns=multicol1)

Stacking a dataframe with a multi-level column axis:

In [9]:
df_multi_level_cols1

       weight
           kg pounds
deer        3      4
monkey      4      5

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack-2.png" alt="Pandas: DataFrame - Stacking a dataframe with a multi-level column axis." title="Title text" height="" width="" />

In [10]:
df_multi_level_cols1.stack()

               weight
deer   kg           3
       pounds       4
monkey kg           4
       pounds       5

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack-3.png" alt="Pandas: DataFrame - Stacking a dataframe with a multi-level column axis." title="Title text" height="" width="" />

**Missing values**

In [11]:
multicol2 = pd.MultiIndex.from_tuples([('weight', 'kg'),
                                       ('height', 'm')])
df_multi_level_cols2 = pd.DataFrame([[2.0, 3.0], [4.0, 5.0]],
                                    index=['deer', 'monkey'],
                                    columns=multicol2)

It is common to have missing values when stacking a dataframe with multi-level columns,<br>
as the stacked dataframe typically has more values than the original dataframe. Missing values<br>
are filled with NaNs:

In [12]:
df_multi_level_cols2

       weight height
           kg      m
deer      2.0    3.0
monkey    4.0    5.0

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack-4.png" alt="Pandas: DataFrame - Missing values stacking a dataframe with multi-level column." title="Title text" height="" width="" />

In [13]:
df_multi_level_cols2.stack()

           height  weight
deer   kg     NaN     2.0
       m      3.0     NaN
monkey kg     NaN     4.0
       m      5.0     NaN

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack-5.png" alt="Pandas: DataFrame - Missing values are filled with NaNs." title="Title text" height="" width="" />

*Prescribing the level(s) to be stacked:*<br>
The first parameter controls which level or levels are stacked:

In [14]:
df_multi_level_cols2.stack(0)

                kg    m
deer   height  NaN  3.0
       weight  2.0  NaN
monkey height  NaN  5.0
       weight  4.0  NaN

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack-6.png" alt="Pandas: DataFrame - The first parameter controls which level or levels are stacked." title="Title text" height="" width="" />

In [15]:
df_multi_level_cols2.stack([0, 1])

deer    height  m     3.0
        weight  kg    2.0
monkey  height  m     5.0
        weight  kg    4.0
dtype: float64

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack-7.png" alt="Pandas: DataFrame - The first parameter controls which level or levels are stacked." title="Title text" height="" width="" />

*Dropping missing values:*

In [16]:
df_multi_level_cols3 = pd.DataFrame([[None, 2.0], [3.0, 4.0]],
                                    index=['deer', 'monkey'],
                                    columns=multicol2)

Note that rows where all values are missing are dropped by default but this behaviour<br>
can be controlled via the dropna keyword parameter:

In [17]:
df_multi_level_cols3

       weight height
           kg      m
deer      NaN    2.0
monkey    3.0    4.0

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack-8.png" alt="Pandas: DataFrame - rows where all valkues are missing are dropped by default ." title="Title text" height="" width="" />

In [18]:
df_multi_level_cols3.stack(dropna=False)

           height  weight
deer   kg     NaN     NaN
       m      2.0     NaN
monkey kg     NaN     3.0
       m      4.0     NaN

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack-9.png" alt="Pandas: DataFrame - dropna=false value." title="Title text" height="" width="" />

In [19]:
df_multi_level_cols3.stack(dropna=True)

           height  weight
deer   m      2.0     NaN
monkey kg     NaN     3.0
       m      4.0     NaN

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-stack-10.png" alt="Pandas: DataFrame - dropna=true value." title="Title text" height="" width="" />

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.stack.html

Single level columns

In [20]:
df_single_level_cols = pd.DataFrame([[0, 1], [2, 3]],

                                    index=['cat', 'dog'],

                                    columns=['weight', 'height'])

In [21]:
df_single_level_cols

     weight  height
cat       0       1
dog       2       3

In [22]:
df_single_level_cols.stack()

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

Multi level columns: simple case

In [24]:
multicol1 = pd.MultiIndex.from_tuples([('weight', 'kg'),

                                       ('weight', 'pounds')])

df_multi_level_cols1 = pd.DataFrame([[1, 2], [2, 4]],

                                    index=['cat', 'dog'],

                                    columns=multicol1)

In [27]:
df_multi_level_cols1

    weight
        kg pounds
cat      1      2
dog      2      4

In [28]:
df_multi_level_cols1.stack()

            weight
cat kg           1
    pounds       2
dog kg           2
    pounds       4

Missing values

In [30]:
multicol2 = pd.MultiIndex.from_tuples([('weight', 'kg'),

                                       ('height', 'm')])

df_multi_level_cols2 = pd.DataFrame([[1.0, 2.0], [3.0, 4.0]],

                                    index=['cat', 'dog'],

                                    columns=multicol2)

In [31]:
df_multi_level_cols2

    weight height
        kg      m
cat    1.0    2.0
dog    3.0    4.0

In [32]:
df_multi_level_cols2.stack()

        height  weight
cat kg     NaN     1.0
    m      2.0     NaN
dog kg     NaN     3.0
    m      4.0     NaN

Prescribing the level(s) to be stacked

In [33]:
df_multi_level_cols2.stack(0)

             kg    m
cat height  NaN  2.0
    weight  1.0  NaN
dog height  NaN  4.0
    weight  3.0  NaN

In [34]:
df_multi_level_cols2.stack([0, 1])

cat  height  m     2.0
     weight  kg    1.0
dog  height  m     4.0
     weight  kg    3.0
dtype: float64

Dropping missing values

In [35]:
df_multi_level_cols3 = pd.DataFrame([[None, 1.0], [2.0, 3.0]],

                                    index=['cat', 'dog'],

                                    columns=multicol2)

In [36]:
df_multi_level_cols3

    weight height
        kg      m
cat    NaN    1.0
dog    2.0    3.0

In [37]:
df_multi_level_cols3.stack(dropna=False)

        height  weight
cat kg     NaN     NaN
    m      1.0     NaN
dog kg     NaN     2.0
    m      3.0     NaN

In [38]:
df_multi_level_cols3.stack(dropna=True)

        height  weight
cat m      1.0     NaN
dog kg     NaN     2.0
    m      3.0     NaN